.cardWithImageTemplate {
  .listing-item.card-bg.card-img.card,
  .listing-item.card-bg.card {
    .card-body {
      .category-top {
        @include media-breakpoint-between(320px, 767px) {
          flex-wrap: wrap;
        }

        span.data {
          @include media-breakpoint-between(320px, 767px) {
            margin-top: 3px;
            flex-basis: 100%;
          }
          &:before {
            @include media-breakpoint-between(320px, 767px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
