.block.columnsBlock,
.columns-view {
  height: 100% !important;
  .full-width {
    height: unset !important;
  }
  .invisible {
    visibility: visible !important;
  }
  .column-blocks-wrapper,
  .block-column {
    --bs-gutter-x: 48px;
    .container {
      padding: 0 !important;
    }
    .block.search,
    .block.listing {
      width: unset !important;
      margin: unset !important;
      &::before {
        border: none !important;
      }
      .full-width {
        position: unset !important;
        margin: unset !important;
        height: unset !important;
        width: unset !important;
        max-width: unset !important;
      }
    }
  }

  .blocks-chooser {
    margin-top: 0px;
    top: 0px;
    left: -12px !important;
    min-width: 310px;
    .ui.buttons {
      .ui.basic.button {
        min-height: 100px !important;
        .icon {
          width: 36px !important;
          height: 36px !important;
          overflow: inherit !important;
        }
      }
    }
  }
}
