//Variables for future customization
$primary-color: $primary;
$primary-color-font: $text-color;
$primary-color-font-with-bg: $primary-text;

$secondary-color: $secondary;
$secondary-color-font: $text-color;
$secondary-color-font-with-bg: $primary-text;

//fixed, doesn't change with the theme
$tertiary-color: $gray-border;
$tertiary-color-font: $black;
$tertiary-color-font-with-bg: $black;

.public-ui {
  .infoblock {
    .bg-alert-primary,
    .bg-alert-secondary,
    .bg-alert-tertiary {
      border-style: solid;
      border-width: 2px 2px 2px 10px;
      .draftjs-buttons a {
        color: #fff;
      }
      &.bg-color-true {
        .draftjs-buttons a {
          background-color: #fff;
          color: $text-color;
          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }

    .bg-alert-primary {
      color: $primary-color-font;
      border-color: $primary-color;
      .draftjs-buttons a {
        background-color: $primary-color;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
      svg.icon {
        fill: $primary-color;
      }
      &.bg-color-true {
        background-color: $primary-color;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a,
      .public-DraftEditorPlaceholder-inner {
        color: #fff;
      }
      &.bg-color-true {
        color: $primary-color-font-with-bg;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        .public-DraftEditorPlaceholder-inner {
          color: $primary-color-font-with-bg;
        }
        svg.icon,
        .public-DraftEditorPlaceholder-inner {
          fill: $primary-color-font-with-bg;
          color: $primary-color-font-with-bg;
        }
      }
    }

    .bg-alert-secondary {
      color: $secondary-color-font;
      border-color: $secondary-color;
      .draftjs-buttons a {
        background-color: $secondary-color;
        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
      svg.icon {
        fill: $secondary-color;
      }
      &.bg-color-true {
        background-color: $secondary-color;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      a,
      .public-DraftEditorPlaceholder-inner {
        color: #fff;
      }
      &.bg-color-true {
        color: $secondary-color-font-with-bg;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        .public-DraftEditorPlaceholder-inner {
          color: $secondary-color-font-with-bg;
        }
        svg.icon,
        .public-DraftEditorPlaceholder-inner {
          fill: $secondary-color-font-with-bg;
          color: $secondary-color-font-with-bg;
        }
      }
    }

    .bg-alert-tertiary {
      border-color: $tertiary-color;
      color: $tertiary-color-font;
      .draftjs-buttons a {
        background-color: $tertiary-color;
        color: $tertiary-color-font;
        &:hover {
          background-color: darken($tertiary-color, 10%);
        }
      }
      svg.icon {
        fill: $tertiary-color-font;
      }
      &.bg-color-true {
        background-color: $tertiary-color;
        color: $tertiary-color-font;
        svg.icon,
        .public-DraftEditorPlaceholder-inner,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a {
          color: $tertiary-color-font;
          fill: $tertiary-color-font;
        }
      }
    }

    .DraftEditor-root {
      background: none;
    }

    p {
      margin: 0;
    }

    img.left-image {
      max-width: 80%;
      object-fit: unset;
    }

    .image-col {
      text-align: center;
    }

    div + h3,
    p + h3,
    h3 + div,
    h3 + p {
      margin-top: 1.33rem;
    }

    div + h2,
    p + h2,
    h2 + div,
    h2 + p {
      margin-top: 1rem;
    }
  }
}
