@use '../../all_variables' as *;

@mixin block($subsite-primary, $subsite-primary-text) {
  .contacts {
    .full-width.section {
      &.bg-primary {
        background-color: $subsite-primary !important;

        .block-header {
          .title {
            color: $subsite-primary-text;
          }

          .description,
          a:not(.btn) {
            color: $subsite-primary-text;
          }
        }
      }

      &.bg-primary,
      &.bg-secondary {
        .card {
          .card-body {
            color: #000;

            .contact-info .icon-wrapper svg {
              fill: #000;
            }
          }
        }
      }
    }
  }
}
