@media print {
  .block {
    &.full-width,
    .full-width {
      right: unset !important;
      left: unset !important;
      width: 100% !important;
      margin-right: 0 !important;
      margin-left: 0 !important;

      .container {
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;

        .items.row {
          justify-content: center;
        }

        .col-item {
          max-width: 33%;
        }
      }
    }
  }

  .section.section-inset-shadow {
    box-shadow: none;
  }

  .public-ui {
    .block.alertblock {
      .bg-alert-danger,
      .bg-alert-info,
      .bg-alert-warning {
        color: #000;
        .container {
          padding-top: 1rem !important;
          padding-bottom: 1rem !important;
        }
      }
    }
  }

  .block.form {
    h2,
    .block-description {
      page-break-after: avoid;
    }

    .card-wrapper {
      page-break-before: avoid;
    }
  }

  .block.image {
    max-width: 50%;
    margin: 0 auto;
  }

  .block.highlitedContent {
    .col-lg-6 {
      flex: 1 1 30%;
      padding: 0;
      text-align: right;
    }

    .col-lg-5 {
      flex: 1 1 70%;
      padding: 0;
    }

    .order-lg-2 {
      order: 2;
    }

    img {
      width: auto;
      max-height: 200px;
    }

    .card {
      border: none !important;
    }
  }

  .block.simple-text-block {
    .img-responsive-wrapper {
      max-height: 200px;
    }
  }

  .block.image-text-block {
    .image-text-card-wrapper {
      page-break-inside: avoid;

      h2 {
        page-break-after: avoid;
      }
    }
  }

  .block.accordion {
    .public-ui {
      width: 100%;
    }

    .section.full-width {
      padding: 0px !important;
      .card {
        .card-body .accordion-item {
          .accordion-header {
            button {
              svg {
                display: none;
              }
            }
          }
          .accordion-content {
            max-height: unset;

            .accordion-inner {
              padding: 0px;
            }
          }
        }

        &:after {
          margin-top: 0px;
        }
      }
    }
  }

  .block.numbersBlock {
    page-break-inside: avoid;
    color: #000;
    .section.py-5 {
      padding: 12px !important;
      page-break-inside: avoid;

      .container {
        page-break-inside: avoid;
        .title,
        .subblock-title {
          font-size: 1.5rem;
        }

        .block-number {
          page-break-inside: avoid;
        }
      }
    }
  }

  .block.iconBlocks {
    .block-header {
      .title {
        font-size: 1.5rem;
        margin: 0.5rem;
      }
    }

    .card {
      padding-top: 0px;

      .card-body {
        padding: 12px;

        .iconblock-icon {
          margin-bottom: 1rem;
          .icon {
            height: 2rem;
          }
        }

        .iconblock-title {
          font-size: 1rem;
        }
      }
    }
  }

  .block {
    .argumentInEvidence {
      .argumentInEvidence-background {
        display: none;
      }

      h2 {
        color: $link-color !important;
      }

      .grid {
        display: flex;
        justify-content: space-between;

        .card {
          flex: 1 1 30%;
        }
      }
    }
  }

  .container {
    .block {
      .searchSections {
        .searchSections-background {
          display: none;
        }

        h2.text-secondary {
          color: $link-color !important;
        }

        border: 1px solid $gray-border;
      }
    }
  }

  div.block.listing {
    .full-width {
      right: unset !important;
      left: unset !important;
      width: 100% !important;
      margin-right: 0 !important;
      margin-left: 0 !important;

      .container {
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important;

        .items.row {
          justify-content: center;
        }

        .col-item {
          max-width: 33%;
        }
      }
    }

    .row {
      .col-sm-12.col-lg-4 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
      }
    }

    &.inEvidenceTemplate {
      .in-evidence-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card-wrapper {
          flex: 0 0 30%;
        }
      }
    }
  }
}
