/***
******************+++
Questo file definisce alcune variabili aggiuntive per design-comuni-plone-theme
******************+++
**/

//cms
$placeholder: #b8c6c9 !default;

//site
$primary-h: 210 !default;
// $primary-s: 4 !default;
// $primary-b: 99 !default;
$primary-text: #fff !default;
$secondary-text: #fff !default;
$tertiary: #be2816 !default;
$tertiary-text: #fff !default;
$highlight-search: #ff0 !default;
$font-family-monospace-light: Roboto Mono Light !default;

$link-color: $primary !default;

$dropdown-custom-button-color: $link-color !default;

$caption-text: #455b71 !default;

$primary-a0: hsl($primary-h, 62%, 97%) !default;

$argument-icon-color: $tertiary !default;
$argument-icon-bg: #f5f6f7 !default;

// $dvt-header-center-max-height: 166px;
// $header-center-max-height-mob: 80px;

$dvt-navigation-v-padding: 15px !default;
// $navigation-h-padding: 24px;
