@import 'design-comuni-plone-theme/theme/variables';

.count-down-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .interval {
    margin: 0.5rem 0.5rem 0;
    text-align: center;

    .number {
      padding: 1.3rem;
      border: 1px solid $white;
      border-radius: 0.5rem;
      background-color: rgba(255, 255, 255, 0.06);
      font-family: $font-family-monospace !important;
      font-size: 3.8rem;
      font-weight: bold;
      line-height: 1em;
    }

    .label {
      font-size: 1.2rem;
      line-height: 2;
      text-transform: uppercase;
    }
  }

  .expired {
    padding: 1.5rem;
    border: 1px solid $white;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.06);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}
