name: Acceptance Tests
on: [push]
jobs:
  core:
    runs-on: ubuntu-latest
    name: Core Basic
    timeout-minutes: 45
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3

      # node setup
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      ## node install
      - run: yarn --immutable

      - name: Cypress acceptance tests
        uses: cypress-io/github-action@v4
        env:
          BABEL_ENV: production
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_RETRIES: 2
          # Recommended: pass the GitHub token lets this action correctly
          # determine the unique run id necessary to re-run the checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          record: true
          parallel: false # Since they run on different node versions, we can't parallel
          browser: chrome
          group: Core ${{ matrix.node-version }}
          spec: cypress/tests/core/basic/**/*.js
          start: |
            make start-test-acceptance-server
            make start-test-acceptance-frontend
          wait-on: 'npx wait-on --httpTimeout 20000 http-get://localhost:55001/plone http://localhost:3000'

      # Upload Cypress screenshots
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      # Upload Cypress videos
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-videos
          path: cypress/videos
