@use '../../all_variables' as *;

@mixin info($subsite-primary, $subsite-light-theme) {
  .public-ui,
  &.public-ui {
    .infoblock {
      .bg-alert-primary,
      .bg-alert-secondary,
      .bg-alert-tertiary {
        &.bg-color-true {
          .draftjs-buttons {
            a {
              &:hover {
                border-color: $body-color;
                background-color: $subsite-primary;
                @if $subsite-light-theme {
                  color: $body-color;
                  span {
                    color: $body-color;
                  }
                }
              }
            }
          }
        }
      }
      .bg-alert-primary.bg-color-true {
        p,
        span,
        svg.icon.left-image {
          color: $body-color;
          fill: $body-color;
        }
      }
    }
  }
}
